:root {
  --bgcolor: #360369;
  --txtcolor: #ffffff;
  --card-bg-color: #270846;
  --purp-txt-color: #360369;
}

* {
  margin: 0;
  padding: 0;
  font-family: inter, sans-serif;
  color: var(--txtcolor);
}

#old-page {
  height: 100vh;
  /* justify-content: center; */
  /* align-items: center; */
  place-content: center;
  text-align: center;
  background-color: var(--bgcolor);
}

button {
  padding: 10px 10vh;
  border: none;
  margin: 30px;
  color: black;
}

h1 {
  font-size: 4rem;
}

/*  */
/*  */
/* Loader and background overlay styles */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dimmed background */
  z-index: 10;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#result {
  text-align: center;
  margin-top: 20px;
}

/*  */
/*  */
